@using CustomerData.Models

@{
    var customer = ViewData["Customer"] as Customer;
}
<h2>Customer Profile</h2>
<table cellpadding="10" cellspacing="10">
    <tr>
        <td>ID</td>
        <td>@customer.Id</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@customer.FirstName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@customer.LastName</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@customer.Address</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>@customer.Phone</td>
    </tr>
</table>
<h4>@Html.ActionLink("Back","Index")</h4>